
// Tipografia
$fuente_titulos: 'Montserrat', sans-serif;
$fuente_subtitulos: 'Lato', sans-serif;
$fuente_parrafos: 'Roboto', sans-serif;

// Colores
$bg_header: #111111;
$txt_header: #ffffff;
$verde: #A6CCEB;
$rosa: #1c8b00;
$amarillo: #FEF464;
$morado: #752F97;
$blanco: #FFFFFF;
$negro: #000000;